body {
    background-image: url('https://cn.bing.com/th?id=OHR.MtStMichel_ZH-CN1232662142_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp');
    background-size: cover; /* 背景图像覆盖整个视口 */
    background-position: center; /* 背景图像居中 */
    background-repeat: no-repeat; /* 不重复背景图像 */
    background-attachment: fixed; /* 背景固定 */
    margin: 0; /* 去掉默认的边距 */
    font-family: Arial, sans-serif; /* 设置字体 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.596); /* 添加透明度的白色背景 */
    border-radius: 8px; /* 圆角 */
    padding: 20px; /* 内边距 */
}

.item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}

.image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: auto; /* 将按钮推到最右端 */
}